# bygg/utdata
out/
raw/
out.latest

# lokala inputs som kan vara känsliga
input/resolvers.txt
input/ips.txt
input/cidrs.txt

# editor/os
.DS_Store
*.swp

ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBHB/UxkPTvkb5h/05rZWAUg4F0yUPpufmcmMQGS+zfO christian@kal-el